target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd
**/.mvn
**/target/

.idea
**/.gitignore
**/renren-fast/
**/renren-generator/

**/rebel.xml


/mi-auth/src/main/resources/static/login/
/mi-auth/src/main/resources/static/regist/
/cart/
/mi-cart/src/main/resources/static/cart/
/mi-cart/src/main/resources/static/cart/bootstrap/
/mi-cart/src/main/resources/static/cart/css/
/mi-cart/src/main/resources/static/cart/image/
/mi-cart/src/main/resources/static/cart/img/
/mi-cart/src/main/resources/static/cart/js/
/mi-order/src/main/resources/static/static/detail/
/mi-order/src/main/resources/static/static/detail/
/mi-order/src/main/resources/static/static/detail/css/
/mi-order/src/main/resources/static/static/detail/img/
/mi-order/src/main/resources/static/static/detail/js/
/mi-order/src/main/resources/static/static/detail/sass/
/mi-order/src/main/resources/static/static/waitPay/
/mi-product/src/main/resources/static/index/css/
/mi-product/src/main/resources/static/index/img/
/mi-product/src/main/resources/static/index/item/
/mi-product/src/main/resources/static/index/js/
/mi-product/src/main/resources/static/index/css/
/mi-product/src/main/resources/static/static/index/css/
/mi-product/src/main/resources/static/static/index/img/
/mi-product/src/main/resources/static/static/index/item/
/mi-product/src/main/resources/static/static/index/js/
/mi-product/src/main/resources/static/static/item/
/mi-order/src/main/resources/static/static/orderList/
/mi-order/src/main/resources/static/static/cashier/css/
/mi-order/src/main/resources/static/static/cashier/img/
/mi-order/src/main/resources/static/static/cashier/js/

/mi-member/src/main/resources/static/static/orderList/css/
/mi-member/src/main/resources/static/static/orderList/image/
/mi-member/src/main/resources/static/static/orderList/img/
/mi-member/src/main/resources/static/static/orderList/js/
/mi-member/src/main/resources/static/static/orderList/sass/
/mi-member/src/main/resources/static/static/orderList/
