target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd
**/.mvn
**/target/

.idea
**/.gitignore
**/renren-fast/
**/renren-generator/




/mi-auth/src/main/resources/static/login/
/mi-auth/src/main/resources/static/regist/
/cart/
/mi-cart/src/main/resources/static/cart/
/mi-cart/src/main/resources/static/cart/bootstrap/
/mi-cart/src/main/resources/static/cart/css/
/mi-cart/src/main/resources/static/cart/image/
/mi-cart/src/main/resources/static/cart/img/
/mi-cart/src/main/resources/static/cart/js/
